
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494496421218'); /* IE9*/
  src: url('iconfont.eot?t=1494496421218#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494496421218') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494496421218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494496421218#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongxunlu:before { content: "\e60e"; }

.icon-zhichu2:before { content: "\e642"; }

.icon-huodong:before { content: "\e628"; }

.icon-tongxunlu-copy:before { content: "\e602"; }

.icon-zhichu:before { content: "\e627"; }

.icon-wode-copy:before { content: "\e604"; }

.icon-money:before { content: "\e608"; }

.icon-wode:before { content: "\e6a8"; }

.icon-shouru:before { content: "\e620"; }

.icon-caiwu:before { content: "\e617"; }

.icon-zhichu1:before { content: "\e609"; }

.icon-zhichu3:before { content: "\e61a"; }

.icon-caiwu1:before { content: "\e619"; }

.icon-zhichu4:before { content: "\e601"; }

.icon-caiwu2:before { content: "\e690"; }

.icon-shouru1:before { content: "\e600"; }

