.portrait {
  padding: 0 10px;
  height: 75px;
    background: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 60px;
        height: 60px;
    }
    span {
      margin-left: 10px;
    }
}
.item {
  margin-top: 10px;
}
.mint-cell {
  color: #000;
}