/* 公共样式 */
body {
    background: #EBEBEB;
}
a {
   text-decoration: none; 
}
.text-center {
    text-align: center;
}
.mainIndex {
    height: 100%;
    overflow: hidden;
}
.bg-w {
    background-color: #FFF;
}